<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= form_for(@product) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :SKU %>
  <%= f.text_field :SKU %>
  <%= f.submit %>
<% end %>
